.blog-post{
    margin-top: 50px;
}
.form-file-input{
    height: 22px;
    font-size: 11px;
}
.thumb{
    width: 215px;
}
.progress {
    display: inline-block;
    width: 100px;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}