                        <form id="contactform" class="validateform" name="leaveContact" ng-controller="form2Ctrl">
							<div id="sendmessage">
								<div class="alert alert-info marginbot35">
								  <button type="button" class="close" data-dismiss="alert">&times;</button>
								  <strong>Your message has been sent. Thank you!</strong><br />
								  Ut augue minim iuvaret eos, mei falli timeam ceteros ut. Qui et choro ubique denique, vim ei accumsan deseruisse argumentum.
								</div>
							</div>
							<ul class="listForm">
								<li>
									<label>Your name <span>&#40; Required &#41;</span></label>
									<input class="form-control" type="text" name="name" ng-model="form2.name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
									<div class="validation"></div>
								</li>
								<li>
									<label>Your email <span>&#40; Required &#41;</span></label>
									<input class="form-control" type="text" name="email" data-rule="email" ng-model="form2.email" data-msg="Please enter a valid email" />
									<div class="validation"></div>
								</li>
								<li>
									<label>Your message <span>&#40; Required &#41;</span></label>
									<textarea class="form-control" rows="9" name="message" ng-model="form2.message" data-rule="required" data-msg="Please write something for us"></textarea>
									<div class="validation"></div>
								</li>
								<li>
									<input type="button" value="Send message" class="btn btn-red btn-lg btn-block" name="Submit" ng-disabled="!leaveContact.$valid" ng-click="saveForm2()"/>
								</li>
							</ul>
						</form>