<form class="text-left" name="form1" ng-controller="form1Ctrl">
  <fieldset ng-hide="form1.$submitted">
    <div class="form-group">
      <label for="exampleInputEmail">First name</label>
      <input type="text" class="form-control" ng-model="form1.firstname" id="exampleInputFirstName" placeholder="Enter your first name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Last name</label>
      <input type="text" class="form-control" ng-model="form1.lastname" id="exampleInputLastName" placeholder="Enter your last name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Phone</label>
      <input type="text" class="form-control" ng-model="form1.phone" id="exampleInputPhoneNumber" placeholder="Enter your phone number">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Email address</label>
      <input type="email" class="form-control" ng-model="form1.email" id="exampleInputEmail" placeholder="Enter your email address">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-red" ng-disabled="!form1.$valid" ng-click="saveForm1()">Download now</button>
    </div>
  </fieldset>
  <span ng-show="form1.$submitted">Thanks, we will be in touch with you soon.</span>
</form>
