<div class="image_edit">
    <input type="file" class="form-file-input" ngf-select ng-model="picFile" ngf-multiple="false" />
    <img ngf-src="picFile" class="thumb" id="thumbnail-img">
    <button class="btn btn-default btn-xs" ng-click="uploadFile(picFile, 'progress')">Upload</button>
    <!--<span id="progress"></span>-->
    <span class="progress" ng-show="picFile.progress >= 0">
     <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'" class="ng-binding"></div>
    </span>
</div>


