<form class="text-left" name="form2" ng-controller="form2Ctrl">
  <fieldset ng-hide="form2.$submitted">
    <div class="form-group">
      <label for="exampleInputEmail">Your name</label>
      <input type="text" class="form-control" ng-model="form2.name" id="exampleInputFirstName" placeholder="Your name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Your email</label>
      <input type="email" class="form-control" ng-model="form2.email" id="exampleInputLastName" placeholder="Your email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Your message</label>
      <input type="text" class="form-control" ng-model="form2.phone" id="exampleInputPhoneNumber" placeholder="Your message">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-red" ng-disabled="!form2.$valid" ng-click="saveForm2()">Submit</button>
    </div>
  </fieldset>
  <span ng-show="form2.$submitted">Thanks, we will be in touch with you soon.</span>
</form>
