<!DOCTYPE html>
<!-- ReplaceHTML -->
<html ng-app="serviceJoinApp" lang="en" class="csstransforms csstransforms3d csstransitions removedangularscope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[removedangularcloak],[data-removedangularcloak],[x-removedangularcloak],.removedangularcloak,.x-removedangularcloak,.removedangularhide:not(.removedangularhide-animate){display:none !important;}ng\:form{display:block;}.removedangularanimate-shim{visibility:hidden;}.removedangularanchor{position:absolute;}</style>
<!-- END ReplaceHTML -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="../">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title class="removedangularbinding">nickpage</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Overwrite bootstrap -->
    <link href="css/overwrite.css" rel="stylesheet">

	<!-- font awesome -->
	<link href="css/font-awesome.css" rel="stylesheet">
    <!--[if lt IE 9]>
	  <link href="css/font-awesome-ie7.css" rel="stylesheet">
	<![endif]-->
	<link href="css/font-awesome-set.css" rel="stylesheet">

    <!-- cslider style -->
    <link href="css/cslider.css" rel="stylesheet">
	<noscript>
		&lt;link rel="stylesheet" type="text/css" href="css/nojs.css" /&gt;
	</noscript>

    <!-- prettyPhoto style -->
    <link href="css/prettyPhoto.css" rel="stylesheet">

    <!-- Custom style -->
    <link href="css/style.css" rel="stylesheet">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300" rel="stylesheet" type="text/css">

	<!-- Color style -->
    <link href="skin/default.css" rel="stylesheet">
	<!-- ServiceJoin-EditModule Includes -->
  <!-- Remove-->
	<!-- <link rel="stylesheet" type="text/css" href="../../app/lib/font-awesome/css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="../admin-panel/src/jquery-ui/jquery-ui.min.css" media="screen">
	<link rel="stylesheet" href="../admin-panel/css/admin-panel.css" type="text/css">
    <link rel="stylesheet" href="../../app/custom/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="../../app/lib/textAngular/dist/textAngular.css">
    <link rel="stylesheet" type="text/css" href="../../app/lib/angular-bootstrap-colorpicker/css/colorpicker.css"> -->
    <!-- END Remove -->

	<!-- END EditModule Includes -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
  <style>.ngf-hide{display:none !important}</style></head>
  <body>
	<!-- Start home -->
	<section id="home" class="bgslider-wrapper">
		<div id="animated-bg">
			<!--<div id="animated-bg1" class="bg-slider"></div>
			<div id="animated-bg2" class="bg-slider"></div>-->
			<div id="animated-bg3" class="bg-slider" style="background-image: url(https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/i-should-buy-a-boat.jpg?v=0.20043480777139422);"></div>
		</div>
		<div class="home-contain custom-height">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div editable-parallax="" modelname="topBgImage" bind-divid="animated-bg3" class="removedangularscope"></div>
					</div>
					<div class="col-lg-5">
						<div class="stand-out-form">
							<h4 editable-bg="" modelname="formHeadBgColor" class="removedangularscope" style="background-color: rgb(160, 169, 186); background-position: initial initial; background-repeat: initial initial;"><i class="icon-download"></i><span editable-field="" removedangularbind="mc.items.serviceJoin1" removedangularstyle="{color:mc.items.serviceJoin1Color}" class="removedangularbinding" style="color: rgb(255, 255, 255);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin1Color)" style="color: rgb(255, 255, 255);">
        Affordable Website Development
    </span>
</a></span></h4>
              <!-- Replace1 -->
              <form class="text-left" name="form1" ng-controller="form1Ctrl">
          <fieldset>
            <div class="form-group">
              <label for="exampleInputEmail">First name</label>
              <input type="text" class="form-control" ng-model="form1.firstname" id="exampleInputFirstName" placeholder="Enter your first name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Last name</label>
              <input type="text" class="form-control" ng-model="form1.lastname" id="exampleInputLastName" placeholder="Enter your last name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Phone</label>
              <input type="text" class="form-control" ng-model="form1.phone" id="exampleInputPhoneNumber" placeholder="Enter your phone number">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Email address</label>
              <input type="email" class="form-control" ng-model="form1.email" id="exampleInputEmail" placeholder="Enter your email address">
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-red" ng-disabled="!form1.$valid" ng-click="saveForm1()">Download now</button>
            </div>
          </fieldset>
        </form>
              <!-- Replace1 -->
						</div>
					</div>
					<div class="col-lg-7">
						<a href="#home" class="logo margintop60"><img src="https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/mobile-icon.png?v=0.8833177504664935" id="logo-img" class="brand-logo" alt=""></a>
						<div editable-image="" modelname="logo" bind-option="forground" bind-divid="logo-img" class="removedangularscope"></div>
            			<div editable-field="" removedangularbind="mc.items.introText" wysiwyg="true" removedangularstyle="{color:mc.items.introTexColor}" class="removedangularbinding"><div removedangularbind-html="mc.items.introText" class="removedangularbinding removedangularscope"><p><font color="#2f50ba">Welcome to StackSavings!</font></p></div></div>
            			<!--<div id="da-slider" class="da-slider">
							<div class="da-slide">
								<h2>We are professional agency</h2>
								<p>Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit.</p>
							</div>
							<div class="da-slide">
								<h2>Supported by a professional team</h2>
								<p>Clita perpetua pri et, in vis suas invenire definitionem, te eam erant soleat. Eu vis assum movet, duo quis eirmod periculis ut, et has nominavi tincidunt ullamcorper. No erat dicat vis.</p>
							</div>
							<div class="da-slide">
								<h2>Make more than 1000 apps</h2>
								<p>Quo autem complectitur an, porro commodo impedit in nec. Eam facer elaboraret ea, ad eos nullam consulatu maiestatis. Eum mazim simul ne, dicta mnesarchum duo no, ex nec graece verear.</p>
							</div>
							<div class="da-slide">
								<h2>High quality and full service</h2>
								<p>Odio appellantur vis te, meliore senserit vis et, cu facer voluptua euripidis sed. Ut aliquam accommodare eos, no qui legere vituperatoribus, ludus vocent nec an aperiam philosophia.</p>
							</div>
							<nav class="da-arrows">
								<span class="da-arrows-prev"></span>
								<span class="da-arrows-next"></span>
							</nav>

						</div>-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End home -->
	<div class="clearfix"></div>
	<!-- Header -->
	<header>
		<div class="navbar removedangularscope" editable-bg="" modelname="menuBgColor" style="background-color: rgb(68, 68, 128); background-position: initial initial; background-repeat: initial initial;">
			<div class="container">
				<div class="navbar-brand">
          			<div id="image-edit-small-logo" editable-image="" modelname="smallLogo" bind-option="forground" bind-divid="small-logo" class="removedangularscope"></div>
          <!-- <img src="img/flat-img.png" id="flat-img" class="img-responsive" alt="" /> -->
          			<img src="https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/mobile-icon.png?v=0.12985244062543577" id="small-logo" class="brand-logo" alt="">
          		</div>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						<!-- <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Extra</a>
							<ul class="dropdown-menu">
								<li><a href="detail.html">Product detail</a></li>
								<li><a href="maintenance.html">Maintenance page</a></li>
								<li><a href="404.html">404 page</a></li>
								<li><a href="icons.html">Icons</a></li>
								<li><a href="Buttons.html">Buttons</a></li>
								<li><a href="accordion.html">Accordion</a></li>
							</ul>
						</li> -->
					<select><option selected="selected" value="">Select menu</option></select></ul>
					<ul itemtype="menu" class="nav navbar-nav"><!-- ngRepeat: (key,value) in mc.items.items.menu --><li removedangularrepeat="(key,value) in mc.items.items.menu" class="removedangularscope">
    <a href="#subscribe" class="removedangularbinding">
        Join our mailing list
    </a>
    <button class="btn btn-xs delete-menu-item removedangularhide" removedangularclick="mc.deleteMenuItem($event,key)" removedangularshow="authenticated">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</li><!-- end ngRepeat: (key,value) in mc.items.items.menu --><li removedangularrepeat="(key,value) in mc.items.items.menu" class="removedangularscope">
    <a href="#contact" class="removedangularbinding">
        Contact Us
    </a>
    <button class="btn btn-xs delete-menu-item removedangularhide" removedangularclick="mc.deleteMenuItem($event,key)" removedangularshow="authenticated">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</li><!-- end ngRepeat: (key,value) in mc.items.items.menu -->
<li id="add_menu_item" removedangularshow="authenticated" class="removedangularscope removedangularhide">
    <a removedangularclick="mc.showAddMenuItem = true;" href="#">
        Add item
    </a>
    <!-- ngInclude: "../admin-panel/view/add-menu-item.html" -->
  <!-- Remove-->
    <!-- <div removedangularshow="mc.showAddMenuItem" removedangularinclude="&quot;../admin-panel/view/add-menu-item.html&quot;" class="removedangularscope removedangularhide">		<div class="admin-panel add-menuitem-panel removedangularscope ui-draggable ui-draggable-handle" draggable-elem="" add-menu-item="" style="position: relative;">
		    <div class="panel-header removedangularhide" removedangularshow="authenticated">
		        <span id="test" class="show-panel-menu" removedangularclick="mc.showAddMenuItem=false;">
		            <i class="fa fa-times" aria-hidden="true"></i>
		            </span>
		        <h2>Add Item</h2>
		    </div>
			<div class="admin-menu">
				<form role="search" class="removedangularpristine removedangularvalid">
						<div class="form-group">
									<input type="text" class="form-control removedangularpristine removedangularuntouched removedangularvalid removedangularempty" name="title_menu_tem" placeholder="Add Title" removedangularmodel="mc.menu_item_title">
									<br>
									<input type="text" class="form-control removedangularpristine removedangularuntouched removedangularvalid removedangularempty" name="href_menu_tem" placeholder="Add Href" removedangularmodel="mc.menu_item_href">
									<br>
									<button type="submit" class="btn btn-default" removedangularclick="mc.addItem(&quot;menu&quot;)">
										Add Menu Item
									</button>
								</div>
				</form>
			</div>
		</div>
</div> -->
  <!-- END Remove-->
</li></ul>
				</div><!-- End nav-collapse -->
			</div><!-- End container -->
		</div><!-- End navbar -->
	</header>
	<!-- End header -->

	<!-- Start about -->
	<section id="about" class="parallax" style="background-image: url(https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/butterfly-hq-wallpaper_09354994_256.jpg?v=0.7221651024416644);">
			<div class="container">
				<div editable-image="" modelname="aboutbgImage" bind-option="background" bind-divid="about" class="removedangularscope"></div>
        <!-- Remove-->
        <!-- EditModule Admin Panel -->
				<!-- ngInclude:  -->
        <!-- <removedangularinclude src="'../admin-panel/view/admin-panel.html'" class="removedangularscope">		<div class="admin-panel removedangularscope ui-draggable ui-draggable-handle" draggable-elem="" style="position: relative;">
		    <div class="panel-header removedangularhide" removedangularshow="authenticated">
		        <span id="test" class="show-panel-menu" removedangularclick="show=!show">
		            <i class="fa fa-angle-down" aria-hidden="true" removedangularshow="!show"></i>
		            <i class="fa fa-angle-up removedangularhide" aria-hidden="true" removedangularshow="show"></i>
		            </span>
		        <h2>Admin Panel</h2>
		    </div>
			<div class="admin-menu removedangularhide" removedangularshow="show &amp;&amp; authenticated">
				<form role="search" class="removedangularpristine removedangularvalid">
						<div class="form-group">
								<div class="form-group">
									<input removedangularblur="mc.saveTitle()" type="text" class="form-control removedangularpristine removedangularuntouched removedangularvalid removedangularnot-empty" name="title" placeholder="Title" removedangularmodel="mc.items.title">

Change Page Title
								</div>

<br>
									<input type="text" class="form-control removedangularpristine removedangularuntouched removedangularvalid removedangularempty" name="page" placeholder="Create Page" removedangularmodel="mc.new_page">
									<br>
									<button type="submit" class="btn btn-default" removedangularclick="mc.createPage()">
										Create New Page
									</button>
								</div>

				</form>
			</div>
		</div>
</removedangularinclude> -->
				<!-- END EditModule Admin Panel -->
          <!-- END Remove-->

				<div class="row">
					<div class="col-lg-5">
						<h3 class="heading removedangularbinding" editable-field="" removedangularbind="mc.items.serviceJoin2" removedangularstyle="{color:mc.items.serviceJoin2Color}" style="color: rgb(225, 245, 244);"><a removedangularhref="" class="removedangularscope">
    <h3 class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin2Color)" style="color: rgb(225, 245, 244);">
        Web Development Made Easy
    </h3>
</a></h3>
						<span editable-field="" removedangularbind="mc.items.serviceJoin3" wysiwyg="true" removedangularstyle="{color:mc.items.serviceJoin3Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><span removedangularbind-html="mc.items.serviceJoin3" class="removedangularbinding removedangularscope"><h4><font color="#fff"><span>We provide customized high quality websites that you can edit yourself. Our innovative platform allows you to easily make changes and manage your website with minimal effort. Prices start at just $20. &nbsp;</span></font></h4></span></span>
						<a href="#contact" class="btn btn-default">Get in touch with us</a>
						<img src="img/span-arrow.png" class="img-responsive pull-right" alt="">

					</div>
					<div class="col-lg-7">
						<div id="image-edit" editable-image="" modelname="serviceJoinBgImage" bind-option="forground" bind-divid="flat-img" class="removedangularscope"></div>
						<img src="https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/laptop1.png?v=0.8137137060541342" id="flat-img" class="img-responsive" alt="">
					</div>
				</div>
			</div>
	</section>
	<!-- End about -->

	<!-- Start feature -->
	<section id="feature" class="parallax" style="background-image: url(https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/business-bg.jpg?v=0.7846898945276175);">
			<div class="container">
				<div editable-image="" modelname="featurebgImage" bind-option="background" bind-divid="feature" class="removedangularscope"></div>
				<div class="row">
					<div class="col-lg-8">
						<div id="myTabContent" class="tab-content fature-contain">
							<div class="tab-pane fade in active" id="tab1">
								<div class="feature-title">
									<i class="icon-thumbs-up icon-rounded icon-128"></i>
									<h4 editable-field="" removedangularbind="mc.items.serviceJoin5" removedangularstyle="{color:mc.items.serviceJoin5Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <h4 class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin5Color)" style="color: rgb(95, 95, 138);">
        No hassle solutions
    </h4>
</a></h4>
								</div>
								<p editable-field="" removedangularbind="mc.items.serviceJoin6" wysiwyg="true" removedangularstyle="{color:mc.items.serviceJoin6Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><p removedangularbind-html="mc.items.serviceJoin6" class="removedangularbinding removedangularscope"><p>Using our innovative solution to website development..</p></p></p><p>
								<!-- <p><a href="javascript:void(0)" class="btn btn-default btn-lg" editable-field removedangularbind="mc.items.serviceJoin7"  removedangularstyle="{color:mc.items.serviceJoin7Color}"></a></p> -->
							</p></div>
							<!-- <div class="tab-pane fade" id="tab2">
								<div class="feature-title">
									<i class="icon-desktop icon-rounded icon-128"></i>
									<h4>Modern flat design</h4>
								</div>
								<p>
								Nec ad homero maluisset delicatissimi, error possit impetus vix id. Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam, sea nemore timeam nusquam eu, alia admodum per at.
								</p>
								<p>
								Id legendos splendide qui, errem causae molestiae at pri, natum accumsan forensibus cum at. Mei in omittam iudicabit, te sonet fastidii detracto qui. Pro ut nobis fabulas gloriatur. Pri sumo phaedrum cu, in est blandit corrumpit pertinacia. Disputando dissentiunt ei pro, equidem tibique maluisset et his. Graeci habemus pro in, ei eam quas vivendum comprehensam.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div> -->
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- End feature -->

	<!-- Start gallery -->
	<!-- <section id="gallery">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="heading">Our gallery</h3>
						<div id="filter-bar">
							<ul id="filters" class="option-set">
								<li><a href="#" class="selected" data-filter=".all">All</a></li>
								<li><a href="#" data-filter=".interface">Interface</a></li>
								<li><a href="#" data-filter=".print">Print</a></li>
								<li><a href="#" data-filter=".illustration">Illustration</a></li>
								<li><a href="#" data-filter=".branding">Branding</a></li>
							</ul>
						</div>
					</div>

					  <ul id="gallery-list" class="clearfix">
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">
									<img src="img/gallery/img1.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Velit dissentiunt an ius</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">
									<img src="img/gallery/img2.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Cu viris audire volumus</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all print">
								<div class="image-wrapper">
									<img src="img/gallery/img3.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Eros laudem omittantur</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all branding">
								<div class="image-wrapper">
									<img src="img/gallery/img4.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Admodum accommodare qui</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all print">
								<div class="image-wrapper">
									<img src="img/gallery/img5.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">His diceret senserit ne</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all illustration">
								<div class="image-wrapper">
									<img src="img/gallery/img6.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Consequuntur sed ne</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all illustration">
								<div class="image-wrapper">
									<img src="img/gallery/img7.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Scripta habemus dolores</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all branding">
								<div class="image-wrapper">
									<img src="img/gallery/img8.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Erroribus corrumpit</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">
									<img src="img/gallery/img9.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Nam dolore sapientem</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
						</ul>
				</div>
			</div>
	</section> -->
	<!-- End gallery -->

	<!-- Start pricing -->
	<section id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="heading text-center removedangularbinding" editable-field="" removedangularbind="mc.items.serviceJoin8" removedangularstyle="{color:mc.items.serviceJoin8Color}" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <h3 class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin8Color)" style="color: rgb(95, 95, 138);">
        Choices to fit your budget
    </h3>
</a></h3>
				<ul class="priciremovedangulartable">
					<li>
					<ul>
						<li class="plan_name aligncenter removedangularscope" editable-bg="" modelname="paln1bgColor"><span editable-field="" removedangularbind="mc.items.serviceJoin9" removedangularstyle="{color:mc.items.serviceJoin9Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin9Color)" style="color: rgb(95, 95, 138);">
        Professional
    </span>
</a></span></li>
						<li class="plan_price aligncenter removedangularscope" editable-bg="" modelname="price1bgColor" style="background-color: rgb(56, 19, 56); background-position: initial initial; background-repeat: initial initial;"><strong><span editable-field="" removedangularbind="mc.items.serviceJoin10" removedangularstyle="{color:mc.items.serviceJoin10Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin10Color)" style="color: rgb(95, 95, 138);">
        $50-100
    </span>
</a></span></strong></li><strong>
              			<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.leftField1" removedangularstyle="{color:mc.items.leftField1Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.leftField1Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.leftField2" removedangularstyle="{color:mc.items.leftField2Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.leftField2Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.leftField3" removedangularstyle="{color:mc.items.leftField3Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.leftField3Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.leftField4" removedangularstyle="{color:mc.items.leftField4Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.leftField4Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.leftField5" removedangularstyle="{color:mc.items.leftField5Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.leftField5Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.leftField6" removedangularstyle="{color:mc.items.leftField6Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.leftField6Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.leftField7" removedangularstyle="{color:mc.items.leftField7Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.leftField7Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.leftField8" removedangularstyle="{color:mc.items.leftField8Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.leftField8Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg removedangularscope" href="#" editable-bg="" modelname="button1bgColor" style="background-color: rgb(73, 98, 138); background-position: initial initial; background-repeat: initial initial;">Order now</a></li>
					</strong></ul><strong>
					</strong></li><strong>
					<li class="featured">
					<ul>
						<li class="plan_name aligncenter removedangularscope" editable-bg="" modelname="paln2bgColor" style="background-color: rgb(46, 61, 99); background-position: initial initial; background-repeat: initial initial;"><span editable-field="" removedangularbind="mc.items.serviceJoin11" removedangularstyle="{color:mc.items.serviceJoin11Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin11Color)" style="color: rgb(95, 95, 138);">
        Starter
    </span>
</a></span></li>
						<li class="plan_price aligncenter removedangularscope" editable-bg="" modelname="price1bgColor" style="background-color: rgb(56, 19, 56); background-position: initial initial; background-repeat: initial initial;"><strong><span editable-field="" removedangularbind="mc.items.serviceJoin12" removedangularstyle="{color:mc.items.serviceJoin12Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin12Color)" style="color: rgb(95, 95, 138);">
        $20
    </span>
</a></span></strong></li><strong>
						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.featuredField1" removedangularstyle="{color:mc.items.featuredField1Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.featuredField1Color)">
        Introductory Choice
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.featuredField2" removedangularstyle="{color:mc.items.featuredField2Color}" class="removedangularbinding" style="color: rgb(9, 9, 46);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.featuredField2Color)" style="color: rgb(9, 9, 46);">
        Pick from pre-built layouts
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.featuredField3" removedangularstyle="{color:mc.items.featuredField3Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.featuredField3Color)">
        Ability to edit text on page
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.featuredField4" removedangularstyle="{color:mc.items.featuredField4Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.featuredField4Color)">
        Free hosting for 6 months
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.featuredField5" removedangularstyle="{color:mc.items.featuredField5Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.featuredField5Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.featuredField6" removedangularstyle="{color:mc.items.featuredField6Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.featuredField6Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.featuredField7" removedangularstyle="{color:mc.items.featuredField7Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.featuredField7Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.featuredField8" removedangularstyle="{color:mc.items.featuredField8Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.featuredField8Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.featuredField9" removedangularstyle="{color:mc.items.featuredField9Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.featuredField9Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg removedangularscope" href="#" editable-bg="" modelname="button2bgColor" style="background-color: rgb(158, 120, 120); background-position: initial initial; background-repeat: initial initial;">Order now</a></li>
					</strong></ul><strong>
					</strong></li><strong>
					<li>
					<ul>
						<li class="plan_name aligncenter removedangularscope" editable-bg="" modelname="paln3bgColor"><span editable-field="" removedangularbind="mc.items.serviceJoin13" removedangularstyle="{color:mc.items.serviceJoin13Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin13Color)" style="color: rgb(95, 95, 138);">
        Custom
    </span>
</a></span></li>
						<li class="plan_price aligncenter removedangularscope" editable-bg="" modelname="price3bgColor" style="background-color: rgb(16, 38, 8); background-position: initial initial; background-repeat: initial initial;"><strong><span editable-field="" removedangularbind="mc.items.serviceJoin14" removedangularstyle="{color:mc.items.serviceJoin14Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin14Color)" style="color: rgb(95, 95, 138);">
        $100+
    </span>
</a></span></strong></li><strong>
              <li class="aligncenter"><span editable-field="" removedangularbind="mc.items.rightField1" removedangularstyle="{color:mc.items.rightField1Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.rightField1Color)">
        Fully customized layout
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.rightField2" removedangularstyle="{color:mc.items.rightField2Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.rightField2Color)">
        Custom functionality
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.rightField3" removedangularstyle="{color:mc.items.rightField3Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.rightField3Color)">
        Custom design
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.rightField4" removedangularstyle="{color:mc.items.rightField4Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.rightField4Color)">
        Ability to edit text and images yourself
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.rightField5" removedangularstyle="{color:mc.items.rightField5Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.rightField5Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.rightField6" removedangularstyle="{color:mc.items.rightField6Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.rightField6Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.rightField7" removedangularstyle="{color:mc.items.rightField7Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.rightField7Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" removedangularbind="mc.items.rightField8" removedangularstyle="{color:mc.items.rightField8Color}" class="removedangularbinding"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.rightField8Color)">
        uuu
    </span>
</a></span></li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg removedangularscope" href="#" editable-bg="" modelname="button3bgColor" style="background-color: rgb(55, 55, 105); background-position: initial initial; background-repeat: initial initial;">Order now</a></li>
					</strong></ul><strong>
					</strong></li><strong>
				</strong></strong></strong></ul><strong><strong><strong>
					</strong></strong></strong></div><strong><strong><strong>
				</strong></strong></strong></div><strong><strong><strong>
			</strong></strong></strong></div><strong><strong><strong>
	</strong></strong></strong></section><strong><strong><strong>
	<!-- End pricing -->

	<!-- Start testimoni -->
	<!-- <section id="testimoni" editable-bg modelname="testimoniBgColor">
			<div class="container" >
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h3 class="heading text-center"><span editable-field removedangularbind="mc.items.serviceJoin15" removedangularstyle="{color:mc.items.serviceJoin15Color}"></span></h3>
						<ul class="ticker testimoni">
							<li>
								<a href="#"><img src="img/testimoni/avatar2.jpg" id="testimoni-img" class="testimo-avatar" alt="" /></a>
								<div editable-image modelname="testimoniImg" bind-option="forground" bind-divid="testimoni-img"></div>
								<p editable-field removedangularbind="mc.items.serviceJoin16" removedangularstyle="{color:mc.items.serviceJoin16Color}">
								</p>
								<p class="testimoni-info" editable-field removedangularbind="mc.items.serviceJoin17" removedangularstyle="{color:mc.items.serviceJoin17Color}"></p>
							</li>
							<!-- <li>
								<a href="#"><img src="img/testimoni/avatar2.jpg" class="testimo-avatar" alt="" /></a>
								<p>
								Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam.
								</p>
								<p class="testimoni-info">Iyem pariem - <a href="#">DD designer</a></p>
							</li> -->





	<!-- End testimoni -->

	<!-- Start action -->
	<!-- <section id="action">
		<div class="container">
			<div class="col-sm-3" editable-image modelname="testimoniImg" bind-option="forground" bind-divid="testimoni-img"></div>
			<div class="row">
				<div class="col-lg-12 aligncenter">
					<h4 editable-field removedangularbind="mc.items.serviceJoin18" removedangularstyle="{color:mc.items.serviceJoin18Color}"></h4>
					<p editable-field removedangularbind="mc.items.serviceJoin19" removedangularstyle="{color:mc.items.serviceJoin19Color}"></p>
					<p editable-field removedangularbind="mc.items.serviceJoin20" removedangularstyle="{color:mc.items.serviceJoin20Color}"><p>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End action -->

	<!-- Start contact -->
	<section id="contact" editable-bg="" modelname="contactBgColor" class="removedangularscope" style="background-color: rgb(29, 46, 59); background-position: initial initial; background-repeat: initial initial;">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<h3 class="heading removedangularbinding" editable-field="" removedangularbind="mc.items.serviceJoin21" removedangularstyle="{color:mc.items.serviceJoin21Color}" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <h3 class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin21Color)" style="color: rgb(95, 95, 138);">
        Get in Touch
    </h3>
</a></h3>
            <!-- Replace2 -->
            <div removedangularapp="serviceJoinApp">
            <form id="contactform" class="validateform" name="leaveContact" removedangularcontroller="form2Ctrl">
  <div id="sendmessage">
    <div class="alert alert-info marginbot35">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Your message has been sent. Thank you!</strong><br />
      Ut augue minim iuvaret eos, mei falli timeam ceteros ut. Qui et choro ubique denique, vim ei accumsan deseruisse argumentum.
    </div>
  </div>
  <ul class="listForm">
    <li>
      <label>Your name <span>&#40; Required &#41;</span></label>
      <input class="form-control" type="text" name="name" removedangularmodel="form2.name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
      <div class="validation"></div>
    </li>
    <li>
      <label>Your email <span>&#40; Required &#41;</span></label>
      <input class="form-control" type="text" name="email" data-rule="email" removedangularmodel="form2.email" data-msg="Please enter a valid email" />
      <div class="validation"></div>
    </li>
    <li>
      <label>Your message <span>&#40; Required &#41;</span></label>
      <textarea class="form-control" rows="9" name="message" removedangularmodel="form2.message" data-rule="required" data-msg="Please write something for us"></textarea>
      <div class="validation"></div>
    </li>
    <li>
      <input type="button" value="Send message" class="btn btn-red btn-lg btn-block" name="Submit" removedangulardisabled="!leaveContact.$valid" removedangularclick="saveForm2()"/>
    </li>
  </ul>
</form>
</div>
            <!-- Replace2 -->
					</div>
					<div class="col-lg-5">
						<!-- <div class="location">
							<div class="location-address">
								<span editable-field removedangularbind="mc.items.serviceJoin22" wysiwyg="true" removedangularstyle="{color:mc.items.serviceJoin22Color}"></span>
								<span class="location-arrow"></span>
							</div>
						</div> -->
					</div>
				</div>
			</div>
	</section>
	<!-- End contact -->

	<!-- Start subscribe -->
	<section id="subscribe" editable-bg="" modelname="subscribeBgColor" class="removedangularscope" style="background-color: rgb(19, 27, 56); background-position: initial initial; background-repeat: initial initial;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h5 editable-field="" removedangularbind="mc.items.serviceJoin23" removedangularstyle="{color:mc.items.serviceJoin23Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <h5 class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin23Color)" style="color: rgb(95, 95, 138);">
        Join our mailing list
    </h5>
</a></h5>
					<p editable-field="" removedangularbind="mc.items.serviceJoin24" removedangularstyle="{color:mc.items.serviceJoin24Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <p class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin24Color)" style="color: rgb(95, 95, 138);">
        -
    </p>
</a></p>
          <!-- Replace3 -->
					<form class="removedangularpristine removedangularvalid">
						<fieldset class="subscribe-form">
							<input class="subscribe" type="text" placeholder="Enter your email address">
							<button class="subscribe-button" type="button" id="subscribe-button" style="background-image: url(https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/arrow.png?v=0.037505876124798165);"></button>
						</fieldset>
						<div editable-image="" modelname="subscribeBgImage" bind-option="background" bind-divid="subscribe-button" class="removedangularscope"></div>
					</form>
          <!-- Replace3 -->

					<!-- <a href="#" class="social-network"><i class="icon-facebook icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-twitter icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-google-plus icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-linkedin icon-rounded icon-128"></i></a> -->
				</div>
			</div>
		</div>
	</section>
	<!-- End subscribe -->

	<!-- Start footer -->
	<footer editable-bg="" modelname="footerBgColor" class="removedangularscope" style="background-color: rgb(54, 59, 74); background-position: initial initial; background-repeat: initial initial;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="copyright">
						<li><span editable-field="" removedangularbind="mc.items.serviceJoin25" removedangularstyle="{color:mc.items.serviceJoin25Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin25Color)" style="color: rgb(95, 95, 138);">
        StackSavings
    </span>
</a></span></li>
						<li><span editable-field="" removedangularbind="mc.items.serviceJoin26" removedangularstyle="{color:mc.items.serviceJoin26Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin26Color)" style="color: rgb(95, 95, 138);">
        Copyright 2016
    </span>
</a></span></li>
						<li><span editable-field="" removedangularbind="mc.items.serviceJoin27" removedangularstyle="{color:mc.items.serviceJoin27Color}" class="removedangularbinding" style="color: rgb(95, 95, 138);"><a removedangularhref="" class="removedangularscope">
    <span class="removedangularbinding" removedangularstyle="setColor(mc.items.serviceJoin27Color)" style="color: rgb(95, 95, 138);">
        -
    </span>
</a></span></li>
					</ul>
					<!--<span class="copyright">
						<span editable-field removedangularbind="mc.items.serviceJoin25" removedangularstyle="{color:mc.items.serviceJoin25Color}"></span>
						<span editable-field removedangularbind="mc.items.serviceJoin26" removedangularstyle="{color:mc.items.serviceJoin26Color}"></span>
						<span editable-field removedangularbind="mc.items.serviceJoin27" removedangularstyle="{color:mc.items.serviceJoin27Color}"></span>
					</span>-->
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer -->

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="js/jquery.js"></script>

	<!-- JavaScript easing plugins -->
	<script src="js/jquery.easing.1.3.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

	<!-- JavaScript navigation -->
	<script src="js/navigation/jquery.scrollTo-1.4.2-min.js"></script>
	<script src="js/navigation/jquery.smooth-scroll.js"></script>
	<script src="js/navigation/waypoints.min.js"></script>
	<script src="js/navigation/navbar.js"></script>

	<!-- JavaScript bgSlider slider -->
	<script src="js/bgslider/bgSlider.js"></script>

	<!-- isotope -->
    <script src="js/filter/jquery.isotope.min.js"></script>
	<script src="js/filter/setting.js"></script>

	<!-- JavaScript cslider -->
 	<!--<script src="js/cslider/modernizr.custom.28468.js"></script>
	<script src="js/cslider/jquery.cslider.js"></script>
	<script src="js/cslider/setting.js"></script>-->

	<!-- prettyPhoto -->
	<!--<script src="js/prettyPhoto/jquery.prettyPhoto.js"></script>
	<script src="js/prettyPhoto/setting.js"></script> -->

	<!-- JavaScript ticker -->
	<!--<script src="js/ticker/ticker.js"></script>
	<script src="js/ticker/setting.js"></script> -->

	<!-- JavaScript totop -->
	<script src="js/totop/jquery.ui.totop.js"></script>
	<script src="js/totop/setting.js"></script>

	<!-- Contact validation js -->
    <script src="js/validation.js"></script>

	<!-- Custom js -->
    <script src="js/custom.js"></script>

    <!-- Angular things -->
      <!-- Remove-->
    <!-- <script type="text/javascript" src="../admin-panel/src/jquery-ui/jquery-ui.min.js"></script> -->
  <!-- END Remove-->




    <script type="text/javascript" src="../stacksavings/app/bower_components/angular/angular.js"></script>
  	<script type="text/javascript" src="../stacksavings/app/bower_components/angular-resource/angular-resource.js"></script>
  	<script type="text/javascript" src="../stacksavings/app/bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
  	<script type="text/javascript" src="../stacksavings/app/bower_components/ng-file-upload/ng-file-upload.js"></script>

  	<script type="text/javascript" src="../stacksavings/app/app.js"></script>
  	<script type="text/javascript" src="../stacksavings/app/services/image-uplaod/image-upload.service.js"></script>
  	<script type="text/javascript" src="../stacksavings/app/services/form/form.service.js"></script>
  	<script type="text/javascript" src="../stacksavings/app/controllers/formController/form.controller.js"></script>
  	<script type="text/javascript" src="../stacksavings/app/directives/file-upload/file-upload.directive.js"></script>








</strong></strong></strong><a href="#" id="toTop" style="display: none;"><span id="toTopHover"></span>To Top</a></body></html>
