<!DOCTYPE html><html ng-app="serviceJoinApp" lang="en" angulardisabledcontroller="MainController as mc" class="csstransforms csstransforms3d csstransitions angulardisabledscope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title class="ng-binding">nickpage</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Overwrite bootstrap -->
    <link href="css/overwrite.css" rel="stylesheet">

	<!-- font awesome -->
	<link href="css/font-awesome.css" rel="stylesheet">
    <!--[if lt IE 9]>
	  <link href="css/font-awesome-ie7.css" rel="stylesheet">
	<![endif]-->
	<link href="css/font-awesome-set.css" rel="stylesheet">

    <!-- cslider style -->
    <link href="css/cslider.css" rel="stylesheet">
	<noscript>
		&lt;link rel="stylesheet" type="text/css" href="css/nojs.css" /&gt;
	</noscript>

    <!-- prettyPhoto style -->
    <link href="css/prettyPhoto.css" rel="stylesheet">

    <!-- Custom style -->
    <link href="css/style.css" rel="stylesheet">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300" rel="stylesheet" type="text/css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
  <style>.ngf-hide{display:none !important}</style></head>
  <body>
	<!-- Start home -->
	<section id="home" class="bgslider-wrapper">
		<div id="animated-bg">
			<!--<div id="animated-bg1" class="bg-slider"></div>
			<div id="animated-bg2" class="bg-slider"></div>-->
			<div id="animated-bg3" class="bg-slider" style="background-image: url(https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/i-should-buy-a-boat.jpg?v=0.20043480777139422);"></div>
		</div>
		<div class="home-contain custom-height">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div editable-parallax="" modelname="topBgImage" bind-divid="animated-bg3" class="ng-scope"></div>
					</div>
					<div class="col-lg-5">
						<div class="stand-out-form">
							<h4 editable-bg="" modelname="formHeadBgColor" class="ng-scope" style="background-color: rgb(160, 169, 186); background-position: initial initial; background-repeat: initial initial;"><i class="icon-download"></i><span editable-field="" angulardisabledbind="mc.items.serviceJoin1" angulardisabledstyle="{color:mc.items.serviceJoin1Color}" class="ng-binding" style="color: rgb(255, 255, 255);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin1Color)" style="color: rgb(255, 255, 255);">
        Affordable Website Development
    </span>
</a></span></h4>
              <!-- Replace1 -->
              <form class="text-left" name="form1" ng-controller="form1Ctrl">
                <fieldset ng-hide="form1.$submitted">
                  <div class="form-group">
                    <label for="exampleInputFirstName">First name</label>
                    <input type="text" class="form-control" ng-model="form1.firstname" id="exampleInputFirstName" placeholder="Enter your first name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputLastName">Last name</label>
                    <input type="text" class="form-control" ng-model="form1.lastname" id="exampleInputLastName" placeholder="Enter your last name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPhoneNumber">Phone</label>
                    <input type="text" class="form-control" ng-model="form1.phone" id="exampleInputPhoneNumber" placeholder="Enter your phone number">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail">Email address</label>
                    <input type="email" class="form-control" ng-model="form1.email" id="exampleInputEmail" placeholder="Enter your email address">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-red" ng-disabled="!form1.$valid" ng-click="saveForm1()">Download now</button>
                  </div>
                </fieldset>
                <span ng-show="form1.$submitted">Thanks, we will be in touch with you soon.</span>
              </form>

              <!-- Replace1 -->
						</div>
					</div>
					<div class="col-lg-7">
						<a href="#home" class="logo margintop60"><img src="https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/mobile-icon.png?v=0.8833177504664935" id="logo-img" class="brand-logo" alt=""></a>
						<div editable-image="" modelname="logo" bind-option="forground" bind-divid="logo-img" class="ng-scope"></div>
            			<div editable-field="" angulardisabledbind="mc.items.introText" wysiwyg="true" angulardisabledstyle="{color:mc.items.introTexColor}" class="ng-binding"><div angulardisabledbind-html="mc.items.introText" class="ng-binding angulardisabledscope"><p><font color="#2f50ba">Welcome to StackSavings!</font></p></div></div>
            			<!--<div id="da-slider" class="da-slider">
							<div class="da-slide">
								<h2>We are professional agency</h2>
								<p>Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit.</p>
							</div>
							<div class="da-slide">
								<h2>Supported by a professional team</h2>
								<p>Clita perpetua pri et, in vis suas invenire definitionem, te eam erant soleat. Eu vis assum movet, duo quis eirmod periculis ut, et has nominavi tincidunt ullamcorper. No erat dicat vis.</p>
							</div>
							<div class="da-slide">
								<h2>Make more than 1000 apps</h2>
								<p>Quo autem complectitur an, porro commodo impedit in nec. Eam facer elaboraret ea, ad eos nullam consulatu maiestatis. Eum mazim simul ne, dicta mnesarchum duo no, ex nec graece verear.</p>
							</div>
							<div class="da-slide">
								<h2>High quality and full service</h2>
								<p>Odio appellantur vis te, meliore senserit vis et, cu facer voluptua euripidis sed. Ut aliquam accommodare eos, no qui legere vituperatoribus, ludus vocent nec an aperiam philosophia.</p>
							</div>
							<nav class="da-arrows">
								<span class="da-arrows-prev"></span>
								<span class="da-arrows-next"></span>
							</nav>

						</div>-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End home -->
	<div class="clearfix"></div>
	<!-- Header -->
  <header>
		<div class="navbar angulardisabledscope" editable-bg="" modelname="menuBgColor" style="background-color: rgb(68, 68, 128); background-position: initial initial; background-repeat: initial initial;">
			<div class="container">
				<div class="navbar-brand">
          			<div id="image-edit-small-logo" editable-image="" modelname="smallLogo" bind-option="forground" bind-divid="small-logo" class="ng-scope"></div>
          <!-- <img src="img/flat-img.png" id="flat-img" class="img-responsive" alt="" /> -->
          			<img src="https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/mobile-icon.png?v=0.12985244062543577" id="small-logo" class="brand-logo" alt="">
          		</div>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul itemtype="menu" class="nav navbar-nav"><!-- ngRepeat: (key,value) in mc.items.items.menu --><li angulardisabledrepeat="(key,value) in mc.items.items.menu" class="ng-scope">
    <a href="#subscribe" class="ng-binding">
        Join our mailing list
    </a>

</li><!-- end ngRepeat: (key,value) in mc.items.items.menu --><li angulardisabledrepeat="(key,value) in mc.items.items.menu" class="ng-scope">
    <a href="#contact" class="ng-binding">
        Contact Us
    </a>

</li><!-- end ngRepeat: (key,value) in mc.items.items.menu -->
</ul>
				</div><!-- End nav-collapse -->
			</div><!-- End container -->
		</div><!-- End navbar -->
	</header>
	<!-- End header -->

	<!-- Start about -->
	<section id="about" class="parallax" style="background-image: url(https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/butterfly-hq-wallpaper_09354994_256.jpg?v=0.7221651024416644);">
			<div class="container">
				<div editable-image="" modelname="aboutbgImage" bind-option="background" bind-divid="about" class="ng-scope"></div>


				<div class="row">
					<div class="col-lg-5">
						<h3 class="heading angulardisabledbinding" editable-field="" angulardisabledbind="mc.items.serviceJoin2" angulardisabledstyle="{color:mc.items.serviceJoin2Color}" style="color: rgb(225, 245, 244);"><a angulardisabledhref="" class="ng-scope">
    <h3 class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin2Color)" style="color: rgb(225, 245, 244);">
        Web Development Made Easy
    </h3>
</a></h3>
						<span editable-field="" angulardisabledbind="mc.items.serviceJoin3" wysiwyg="true" angulardisabledstyle="{color:mc.items.serviceJoin3Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><span angulardisabledbind-html="mc.items.serviceJoin3" class="ng-binding angulardisabledscope"><h4><font color="#fff"><span>We provide customized high quality websites that you can edit yourself. Our innovative platform allows you to easily make changes and manage your website with minimal effort. Prices start at just $20. &nbsp;</span></font></h4></span></span>
						<a href="#contact" class="btn btn-default">Get in touch with us</a>
						<img src="img/span-arrow.png" class="img-responsive pull-right" alt="">

					</div>
					<div class="col-lg-7">
						<div id="image-edit" editable-image="" modelname="serviceJoinBgImage" bind-option="forground" bind-divid="flat-img" class="ng-scope"></div>
						<img src="https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/laptop1.png?v=0.8137137060541342" id="flat-img" class="img-responsive" alt="">
					</div>
				</div>
			</div>
	</section>
	<!-- End about -->

	<!-- Start feature -->
	<section id="feature" class="parallax" style="background-image: url(https://s3-us-west-2.amazonaws.com/servicejoin/templates/stacksavings/business-bg.jpg?v=0.7846898945276175);">
			<div class="container">
				<div editable-image="" modelname="featurebgImage" bind-option="background" bind-divid="feature" class="ng-scope"></div>
				<div class="row">
					<div class="col-lg-8">
						<div id="myTabContent" class="tab-content fature-contain">
							<div class="tab-pane fade in active" id="tab1">
								<div class="feature-title">
									<i class="icon-thumbs-up icon-rounded icon-128"></i>
									<h4 editable-field="" angulardisabledbind="mc.items.serviceJoin5" angulardisabledstyle="{color:mc.items.serviceJoin5Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <h4 class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin5Color)" style="color: rgb(95, 95, 138);">
        No hassle solutions
    </h4>
</a></h4>
								</div>
								<p editable-field="" angulardisabledbind="mc.items.serviceJoin6" wysiwyg="true" angulardisabledstyle="{color:mc.items.serviceJoin6Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><p angulardisabledbind-html="mc.items.serviceJoin6" class="ng-binding angulardisabledscope"><p>Using our innovative solution to website development..</p></p></p><p>
								<!-- <p><a href="javascript:void(0)" class="btn btn-default btn-lg" editable-field angulardisabledbind="mc.items.serviceJoin7"  angulardisabledstyle="{color:mc.items.serviceJoin7Color}"></a></p> -->
							</p></div>
							<!-- <div class="tab-pane fade" id="tab2">
								<div class="feature-title">
									<i class="icon-desktop icon-rounded icon-128"></i>
									<h4>Modern flat design</h4>
								</div>
								<p>
								Nec ad homero maluisset delicatissimi, error possit impetus vix id. Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam, sea nemore timeam nusquam eu, alia admodum per at.
								</p>
								<p>
								Id legendos splendide qui, errem causae molestiae at pri, natum accumsan forensibus cum at. Mei in omittam iudicabit, te sonet fastidii detracto qui. Pro ut nobis fabulas gloriatur. Pri sumo phaedrum cu, in est blandit corrumpit pertinacia. Disputando dissentiunt ei pro, equidem tibique maluisset et his. Graeci habemus pro in, ei eam quas vivendum comprehensam.
								</p>
								<p><a href="#" class="btn btn-default btn-lg">learn more</a></p>
							</div> -->
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- End feature -->

	<!-- Start gallery -->
	<!-- <section id="gallery">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="heading">Our gallery</h3>
						<div id="filter-bar">
							<ul id="filters" class="option-set">
								<li><a href="#" class="selected" data-filter=".all">All</a></li>
								<li><a href="#" data-filter=".interface">Interface</a></li>
								<li><a href="#" data-filter=".print">Print</a></li>
								<li><a href="#" data-filter=".illustration">Illustration</a></li>
								<li><a href="#" data-filter=".branding">Branding</a></li>
							</ul>
						</div>
					</div>

					  <ul id="gallery-list" class="clearfix">
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">
									<img src="img/gallery/img1.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Velit dissentiunt an ius</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">
									<img src="img/gallery/img2.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Cu viris audire volumus</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all print">
								<div class="image-wrapper">
									<img src="img/gallery/img3.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Eros laudem omittantur</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all branding">
								<div class="image-wrapper">
									<img src="img/gallery/img4.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Admodum accommodare qui</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all print">
								<div class="image-wrapper">
									<img src="img/gallery/img5.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">His diceret senserit ne</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all illustration">
								<div class="image-wrapper">
									<img src="img/gallery/img6.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Consequuntur sed ne</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all illustration">
								<div class="image-wrapper">
									<img src="img/gallery/img7.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Scripta habemus dolores</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all branding">
								<div class="image-wrapper">
									<img src="img/gallery/img8.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Erroribus corrumpit</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
							<li class="item col-lg-4 all interface">
								<div class="image-wrapper">
									<img src="img/gallery/img9.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="img-title">
									<h6><a href="detail.html">Nam dolore sapientem</a></h6>
									<a href="img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>
								</div>
							</li>
						</ul>
				</div>
			</div>
	</section> -->
	<!-- End gallery -->

	<!-- Start pricing -->
	<section id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="heading text-center angulardisabledbinding" editable-field="" angulardisabledbind="mc.items.serviceJoin8" angulardisabledstyle="{color:mc.items.serviceJoin8Color}" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <h3 class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin8Color)" style="color: rgb(95, 95, 138);">
        Choices to fit your budget
    </h3>
</a></h3>
				<ul class="pricing-table">
					<li>
					<ul>
						<li class="plan_name aligncenter angulardisabledscope" editable-bg="" modelname="paln1bgColor"><span editable-field="" angulardisabledbind="mc.items.serviceJoin9" angulardisabledstyle="{color:mc.items.serviceJoin9Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin9Color)" style="color: rgb(95, 95, 138);">
        Professional
    </span>
</a></span></li>
						<li class="plan_price aligncenter angulardisabledscope" editable-bg="" modelname="price1bgColor" style="background-color: rgb(56, 19, 56); background-position: initial initial; background-repeat: initial initial;"><strong><span editable-field="" angulardisabledbind="mc.items.serviceJoin10" angulardisabledstyle="{color:mc.items.serviceJoin10Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin10Color)" style="color: rgb(95, 95, 138);">
        $50-100
    </span>
</a></span></strong></li><strong>
              			<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.leftField1" angulardisabledstyle="{color:mc.items.leftField1Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.leftField1Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.leftField2" angulardisabledstyle="{color:mc.items.leftField2Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.leftField2Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.leftField3" angulardisabledstyle="{color:mc.items.leftField3Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.leftField3Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.leftField4" angulardisabledstyle="{color:mc.items.leftField4Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.leftField4Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.leftField5" angulardisabledstyle="{color:mc.items.leftField5Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.leftField5Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.leftField6" angulardisabledstyle="{color:mc.items.leftField6Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.leftField6Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.leftField7" angulardisabledstyle="{color:mc.items.leftField7Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.leftField7Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.leftField8" angulardisabledstyle="{color:mc.items.leftField8Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.leftField8Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg angulardisabledscope" href="#" editable-bg="" modelname="button1bgColor" style="background-color: rgb(73, 98, 138); background-position: initial initial; background-repeat: initial initial;">Order now</a></li>
					</strong></ul><strong>
					</strong></li><strong>
					<li class="featured">
					<ul>
						<li class="plan_name aligncenter angulardisabledscope" editable-bg="" modelname="paln2bgColor" style="background-color: rgb(46, 61, 99); background-position: initial initial; background-repeat: initial initial;"><span editable-field="" angulardisabledbind="mc.items.serviceJoin11" angulardisabledstyle="{color:mc.items.serviceJoin11Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin11Color)" style="color: rgb(95, 95, 138);">
        Starter
    </span>
</a></span></li>
						<li class="plan_price aligncenter angulardisabledscope" editable-bg="" modelname="price1bgColor" style="background-color: rgb(56, 19, 56); background-position: initial initial; background-repeat: initial initial;"><strong><span editable-field="" angulardisabledbind="mc.items.serviceJoin12" angulardisabledstyle="{color:mc.items.serviceJoin12Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin12Color)" style="color: rgb(95, 95, 138);">
        $20
    </span>
</a></span></strong></li><strong>
						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.featuredField1" angulardisabledstyle="{color:mc.items.featuredField1Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.featuredField1Color)">
        Introductory Choice
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.featuredField2" angulardisabledstyle="{color:mc.items.featuredField2Color}" class="ng-binding" style="color: rgb(9, 9, 46);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.featuredField2Color)" style="color: rgb(9, 9, 46);">
        Pick from pre-built layouts
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.featuredField3" angulardisabledstyle="{color:mc.items.featuredField3Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.featuredField3Color)">
        Ability to edit text on page
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.featuredField4" angulardisabledstyle="{color:mc.items.featuredField4Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.featuredField4Color)">
        Free hosting for 6 months
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.featuredField5" angulardisabledstyle="{color:mc.items.featuredField5Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.featuredField5Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.featuredField6" angulardisabledstyle="{color:mc.items.featuredField6Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.featuredField6Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.featuredField7" angulardisabledstyle="{color:mc.items.featuredField7Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.featuredField7Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.featuredField8" angulardisabledstyle="{color:mc.items.featuredField8Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.featuredField8Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.featuredField9" angulardisabledstyle="{color:mc.items.featuredField9Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.featuredField9Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg angulardisabledscope" href="#" editable-bg="" modelname="button2bgColor" style="background-color: rgb(158, 120, 120); background-position: initial initial; background-repeat: initial initial;">Order now</a></li>
					</strong></ul><strong>
					</strong></li><strong>
					<li>
					<ul>
						<li class="plan_name aligncenter angulardisabledscope" editable-bg="" modelname="paln3bgColor"><span editable-field="" angulardisabledbind="mc.items.serviceJoin13" angulardisabledstyle="{color:mc.items.serviceJoin13Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin13Color)" style="color: rgb(95, 95, 138);">
        Custom
    </span>
</a></span></li>
						<li class="plan_price aligncenter angulardisabledscope" editable-bg="" modelname="price3bgColor" style="background-color: rgb(16, 38, 8); background-position: initial initial; background-repeat: initial initial;"><strong><span editable-field="" angulardisabledbind="mc.items.serviceJoin14" angulardisabledstyle="{color:mc.items.serviceJoin14Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin14Color)" style="color: rgb(95, 95, 138);">
        $100+
    </span>
</a></span></strong></li><strong>
              <li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.rightField1" angulardisabledstyle="{color:mc.items.rightField1Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.rightField1Color)">
        Fully customized layout
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.rightField2" angulardisabledstyle="{color:mc.items.rightField2Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.rightField2Color)">
        Custom functionality
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.rightField3" angulardisabledstyle="{color:mc.items.rightField3Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.rightField3Color)">
        Custom design
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.rightField4" angulardisabledstyle="{color:mc.items.rightField4Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.rightField4Color)">
        Ability to edit text and images yourself
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.rightField5" angulardisabledstyle="{color:mc.items.rightField5Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.rightField5Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.rightField6" angulardisabledstyle="{color:mc.items.rightField6Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.rightField6Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.rightField7" angulardisabledstyle="{color:mc.items.rightField7Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.rightField7Color)">
        &lt;new-value&gt;
    </span>
</a></span></li>
  						<li class="aligncenter"><span editable-field="" angulardisabledbind="mc.items.rightField8" angulardisabledstyle="{color:mc.items.rightField8Color}" class="ng-binding"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.rightField8Color)">
        uuu
    </span>
</a></span></li>
						<li class="aligncenter button_box"><a class="btn btn-red btn-lg angulardisabledscope" href="#" editable-bg="" modelname="button3bgColor" style="background-color: rgb(55, 55, 105); background-position: initial initial; background-repeat: initial initial;">Order now</a></li>
					</strong></ul><strong>
					</strong></li><strong>
				</strong></strong></strong></ul><strong><strong><strong>
					</strong></strong></strong></div><strong><strong><strong>
				</strong></strong></strong></div><strong><strong><strong>
			</strong></strong></strong></div><strong><strong><strong>
	</strong></strong></strong></section><strong><strong><strong>
	<!-- End pricing -->

	<!-- Start testimoni -->
	<!-- <section id="testimoni" editable-bg modelname="testimoniBgColor">
			<div class="container" >
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h3 class="heading text-center"><span editable-field angulardisabledbind="mc.items.serviceJoin15" angulardisabledstyle="{color:mc.items.serviceJoin15Color}"></span></h3>
						<ul class="ticker testimoni">
							<li>
								<a href="#"><img src="img/testimoni/avatar2.jpg" id="testimoni-img" class="testimo-avatar" alt="" /></a>
								<div editable-image modelname="testimoniImg" bind-option="forground" bind-divid="testimoni-img"></div>
								<p editable-field angulardisabledbind="mc.items.serviceJoin16" angulardisabledstyle="{color:mc.items.serviceJoin16Color}">
								</p>
								<p class="testimoni-info" editable-field angulardisabledbind="mc.items.serviceJoin17" angulardisabledstyle="{color:mc.items.serviceJoin17Color}"></p>
							</li>
							<!-- <li>
								<a href="#"><img src="img/testimoni/avatar2.jpg" class="testimo-avatar" alt="" /></a>
								<p>
								Porro facilis id vis, omnis reque corpora at ius. Veri ubique oportere duo ea, vix sale ferri percipitur te, vix ut aliquid quaestio appellantur. Eu munere indoctum definitiones sit. Virtute inimicus quo ea. In mei facete deleniti constituam.
								</p>
								<p class="testimoni-info">Iyem pariem - <a href="#">DD designer</a></p>
							</li> -->





	<!-- End testimoni -->

	<!-- Start action -->
	<!-- <section id="action">
		<div class="container">
			<div class="col-sm-3" editable-image modelname="testimoniImg" bind-option="forground" bind-divid="testimoni-img"></div>
			<div class="row">
				<div class="col-lg-12 aligncenter">
					<h4 editable-field angulardisabledbind="mc.items.serviceJoin18" angulardisabledstyle="{color:mc.items.serviceJoin18Color}"></h4>
					<p editable-field angulardisabledbind="mc.items.serviceJoin19" angulardisabledstyle="{color:mc.items.serviceJoin19Color}"></p>
					<p editable-field angulardisabledbind="mc.items.serviceJoin20" angulardisabledstyle="{color:mc.items.serviceJoin20Color}"><p>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End action -->

	<!-- Start contact -->
	<section id="contact" editable-bg="" modelname="contactBgColor" class="ng-scope" style="background-color: rgb(29, 46, 59); background-position: initial initial; background-repeat: initial initial;">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<h3 class="heading angulardisabledbinding" editable-field="" angulardisabledbind="mc.items.serviceJoin21" angulardisabledstyle="{color:mc.items.serviceJoin21Color}" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <h3 class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin21Color)" style="color: rgb(95, 95, 138);">
        Get in Touch
    </h3>
</a></h3>
            <!-- Replace2 -->
            <form class="text-left" name="form2" ng-controller="form2Ctrl">
              <fieldset ng-hide="form2.$submitted">
                <div class="form-group">
                  <label for="exampleInputEmail">Your name</label>
                  <input type="text" class="form-control" ng-model="form2.name" id="exampleInputFirstName" placeholder="Your name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail">Your email</label>
                  <input type="email" class="form-control" ng-model="form2.email" id="exampleInputLastName" placeholder="Your email">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail">Your message</label>
                  <input type="text" class="form-control" ng-model="form2.phone" id="exampleInputPhoneNumber" placeholder="Your message">
                </div>
                <div class="form-group">
                  <button class="btn btn-lg btn-red" ng-disabled="!form2.$valid" ng-click="saveForm2()">Submit</button>
                </div>
              </fieldset>
              <span ng-show="form2.$submitted">Thanks, we will be in touch with you soon.</span>
            </form>

            <!-- Replace2 -->
					</div>
					<div class="col-lg-5">
						<!-- <div class="location">
							<div class="location-address">
								<span editable-field angulardisabledbind="mc.items.serviceJoin22" wysiwyg="true" angulardisabledstyle="{color:mc.items.serviceJoin22Color}"></span>
								<span class="location-arrow"></span>
							</div>
						</div> -->
					</div>
				</div>
			</div>
	</section>
	<!-- End contact -->

	<!-- Start subscribe -->
	<section id="subscribe" editable-bg="" modelname="subscribeBgColor" class="ng-scope" style="background-color: rgb(19, 27, 56); background-position: initial initial; background-repeat: initial initial;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h5 editable-field="" angulardisabledbind="mc.items.serviceJoin23" angulardisabledstyle="{color:mc.items.serviceJoin23Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <h5 class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin23Color)" style="color: rgb(95, 95, 138);">
        Join our mailing list
    </h5>
</a></h5>
					<p editable-field="" angulardisabledbind="mc.items.serviceJoin24" angulardisabledstyle="{color:mc.items.serviceJoin24Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <p class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin24Color)" style="color: rgb(95, 95, 138);">
        -
    </p>
</a></p>
          <!-- Replace3 -->
          <form name="form3" ng-controller="form3Ctrl">
						<fieldset class="subscribe-form" ng-hide="form3.$submitted">
							<input class="subscribe" type="email" placeholder="Enter your email address" ng-model="form3.email">
						</fieldset>
            <span ng-show="form3.$submitted">Thanks for joining our mailing list.</span>
            <div class="form-group">
              <button class="btn btn-lg btn-red" ng-disabled="!form3.$valid" ng-click="saveForm3()">Join</button>
            </div>
					</form>
          <!-- Replace3 -->

					<!-- <a href="#" class="social-network"><i class="icon-facebook icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-twitter icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-google-plus icon-rounded icon-128"></i></a>
					<a href="#" class="social-network"><i class="icon-linkedin icon-rounded icon-128"></i></a> -->
				</div>
			</div>
		</div>
	</section>
	<!-- End subscribe -->

	<!-- Start footer -->
	<footer editable-bg="" modelname="footerBgColor" class="ng-scope" style="background-color: rgb(54, 59, 74); background-position: initial initial; background-repeat: initial initial;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="copyright">
						<li><span editable-field="" angulardisabledbind="mc.items.serviceJoin25" angulardisabledstyle="{color:mc.items.serviceJoin25Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin25Color)" style="color: rgb(95, 95, 138);">
        StackSavings
    </span>
</a></span></li>
						<li><span editable-field="" angulardisabledbind="mc.items.serviceJoin26" angulardisabledstyle="{color:mc.items.serviceJoin26Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin26Color)" style="color: rgb(95, 95, 138);">
        Copyright 2016
    </span>
</a></span></li>
						<li><span editable-field="" angulardisabledbind="mc.items.serviceJoin27" angulardisabledstyle="{color:mc.items.serviceJoin27Color}" class="ng-binding" style="color: rgb(95, 95, 138);"><a angulardisabledhref="" class="ng-scope">
    <span class="ng-binding" angulardisabledstyle="setColor(mc.items.serviceJoin27Color)" style="color: rgb(95, 95, 138);">
        -
    </span>
</a></span></li>
					</ul>
					<!--<span class="copyright">
						<span editable-field angulardisabledbind="mc.items.serviceJoin25" angulardisabledstyle="{color:mc.items.serviceJoin25Color}"></span>
						<span editable-field angulardisabledbind="mc.items.serviceJoin26" angulardisabledstyle="{color:mc.items.serviceJoin26Color}"></span>
						<span editable-field angulardisabledbind="mc.items.serviceJoin27" angulardisabledstyle="{color:mc.items.serviceJoin27Color}"></span>
					</span>-->
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer -->

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="js/jquery.js"></script>

	<!-- JavaScript easing plugins -->
	<script src="js/jquery.easing.1.3.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

	<!-- JavaScript navigation -->
	<script src="js/navigation/jquery.scrollTo-1.4.2-min.js"></script>
	<script src="js/navigation/jquery.smooth-scroll.js"></script>
	<script src="js/navigation/waypoints.min.js"></script>
	<script src="js/navigation/navbar.js"></script>

	<!-- JavaScript bgSlider slider -->
	<script src="js/bgslider/bgSlider.js"></script>

	<!-- isotope -->
    <script src="js/filter/jquery.isotope.min.js"></script>
	<script src="js/filter/setting.js"></script>

	<!-- JavaScript cslider -->
 	<!--<script src="js/cslider/modernizr.custom.28468.js"></script>
	<script src="js/cslider/jquery.cslider.js"></script>
	<script src="js/cslider/setting.js"></script>-->

	<!-- prettyPhoto -->
	<!--<script src="js/prettyPhoto/jquery.prettyPhoto.js"></script>
	<script src="js/prettyPhoto/setting.js"></script> -->

	<!-- JavaScript ticker -->
	<!--<script src="js/ticker/ticker.js"></script>
	<script src="js/ticker/setting.js"></script> -->

	<!-- JavaScript totop -->
	<script src="js/totop/jquery.ui.totop.js"></script>
	<script src="js/totop/setting.js"></script>

	<!-- Contact validation js -->
    <script src="js/validation.js"></script>

	<!-- Custom js -->
    <script src="js/custom.js"></script>

    <!-- Angular things -->
    <!-- Remove-->
    <script type="text/javascript" src="../admin-panel/src/jquery-ui/jquery-ui.min.js"></script>
    <!-- END Remove-->


        <script type="text/javascript" src="app/bower_components/angular/angular.js"></script>
      	<script type="text/javascript" src="app/bower_components/angular-resource/angular-resource.js"></script>
      	<script type="text/javascript" src="app/bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
      	<script type="text/javascript" src="app/bower_components/ng-file-upload/ng-file-upload.js"></script>

      	<script type="text/javascript" src="app/app.js"></script>
      	<script type="text/javascript" src="app/services/image-uplaod/image-upload.service.js"></script>
      	<script type="text/javascript" src="app/services/form/form.service.js"></script>
      	<script type="text/javascript" src="app/controllers/formController/form.controller.js"></script>
      	<script type="text/javascript" src="app/directives/file-upload/file-upload.directive.js"></script>



</strong></strong></strong><a href="#" id="toTop" style="display: none;"><span id="toTopHover"></span>To Top</a></body></html>
